.analytic-reminder{
    margin-top: 50px;
    display: flex;
    margin-left: 45px;
    margin-right: 45px;
}


.graph{
    width: 418px;
    height: 269px;
    border: 1px solid black;
}

.reminder_parent{
    margin-left: 20px;
}

.reminder{
    width: 209px;
    height: 269px;
    background-color: #0038FF;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.reminder>:nth-child(1) {
    text-align: center;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}
.reminder>:nth-child(2){
    display: block;
    margin: auto;
}
.reminder>:nth-child(3){
    color: white;
    font-size: 14px;
}
.reminder>:nth-child(4){
    color: white;
    font-size: 14px;
}
.reminder>:nth-child(5){
    display: block;
    margin: auto;
    width: 70%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
}
.reminder>:nth-child(5)>p{
    padding: 10px;
    font-size: 12px;
}


