
.mobile-transaction{
  width: 338px;
  height: 334px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px;

}

.recent{
    display: flex;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
}
.recent-graph{
    border: 1px solid black;
    height:  394px;
    width:  289px;
    margin-left: 28px;
}

.mobile-transaction>div{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.mobile-transaction>div>div{
    display:flex;

}

.mobile-transaction>div>div>img{
    width: 55px;
    height: 55px;
    margin: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.mobile-transaction>div>div>div>:first-child{
    font-size: 14px;
    color: black;
}

.mobile-transaction>div>div>div>:last-child{
    font-size: 10px;
    color: #BDBDBD;
    font-weight: 500;
    margin-top: -08px;
}

.mobile-transaction>div>:last-child{
    margin-right: 10px;
}