.right-recent-parent{
    margin-left: 100px;
    margin-top: 30px;
}

.right-recent-child{
    width: 251px;
    height: 289px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.right-recent-child>:nth-child(1){
    display: flex;
    width: 80%;
    height: 22px;
    margin: auto;
    padding-top: 20px;
}
.right-recent-child>:nth-child(1)>p{
    font-size: 10px;
    margin: auto;
    margin-left: 10px;
    color: #A5A5A5;
}
.right-recent-child>:nth-child(2){
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 23px;
}

.right-recent-child>:nth-child(2)>p{
    font-size: 40px;
}
span{
    color: #ACACAC;
}

.right-recent-child>:nth-child(2)>button{
    width: 113px;
    height: 39px;
    margin: auto;
    margin-left: 10px;
    background-color: #000AFF;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    border: none;
}

.right-recent-child>:nth-child(3){
    width: 80%;
    margin: auto;
    background-color:  #E6E6E6;
}

.right-recent-child>:nth-child(4){
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.right-recent-child>:nth-child(4)>img{
    margin-left: -6px;
    width: 30px;
    height: 30px;
}